$primary-color: #326abe;
$secondary-color: #434553;
$tertiary-color: #86ceea;
$quaternary-color: #dee3eb;
$quinary-color: #EAF6FF;
$info-color: #009FFD;
$alert-color: #d61d2d;
$success-color: #5cb85c;
$warning-color: #FFA400;
$white: #ffffff